.App {
	height: 100%;
	display: flex;
	font-family: Lato, sans-serif;
}

.App nav {
	margin-bottom: 10px;
}

.App nav a {
	text-decoration: none;
}

.App nav a.active {
	font-weight: bold;
}

.App a {
	cursor: pointer;
}

.FolderNavigation {
	min-width: 200px;
	max-width: 200px;
}

.ConversationListView {
	flex: 1;
	background-color: #f6f6f6;
}

.MessageListView {
	flex: 2;
	background-color: #f6f6f6;
	padding-left: 10px;
}

.scrollable {
	padding-right: 10px;
	overflow-y: auto;
	flex: 1;
}

.debug {
  padding: 2rem;
}
