.FolderNavigationItem {
	display: block;
	padding: 12px 10px;
	cursor: pointer;
}

.FolderNavigationItem.active {
	font-weight: bold;
	color: #0179D4;
	background-color: #C8E0F3
}

.FolderNavigationItem:hover {
	background-color: #EFF7FE;
}

.FolderNavigationItem.active:hover {
	background-color: #C8E0F3
}

.FolderNavigationItem i.main-icon {
	display: inline-block;
	font-size: 18px;
	width: 24px;
	text-align: center;
	margin-right: 5px;
	margin-left: -5px;
}

.ConversationListItem i.icon-asterisk {
	color: orange;
}